@charset "UTF-8";
body {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  color: #757575;
  background-color: #ffffff;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  /* outline: 1px solid blue;  */
}

.list-bar,
.images {
  padding: 0px;
  margin: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style: none;
}

.photo {
  display: block;
}

/* Кнопка секции герой*/
.hero .button {
  display: inline-block;
  border-radius: 4px;
  padding: 10px 32px;
  width: 200px;
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.9;
  color: #ffffff;
  background-color: #2196f3;
}

/*/ Кнопка секции герой*/
/* Кнопка х в модалке*/
.modal-button {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  padding: 0px;
  /* outline: none; */
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: #ffffff;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button:hover .x-button {
  fill: #2196f3;
}

.modal-button:focus-within > .x-button {
  fill: #2196f3;
}

/*/ Кнопка х в модалке*/
/* Кнопка отправить в модалке*/
.send {
  position: absolute;
  left: 164px;
  bottom: 40px;
  width: 200px;
  height: 50px;
  background-color: #2196f3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  outline: none;
}

.send .btn-text {
  text-align: center;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: #ffffff;
}

/*/ Кнопка отправить в модалке*/
.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 570px;
}

.form .form-field {
  margin-left: 93px;
  margin-right: 12px;
}

.form .form-field .contact-label {
  display: block;
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.form .form-field .contact-input {
  width: 358px;
  height: 50px;
  border: 0;
  padding: 0;
  padding-left: 16px;
  color: rgba(255, 255, 255, 0.6);
  background-color: #2f303a;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  outline: none;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form .form-field .contact-input::-webkit-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.form .form-field .contact-input:-ms-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.form .form-field .contact-input::-ms-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.form .form-field .contact-input::placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.form .form-field:hover .contact-input {
  border: 1px solid #2196f3;
}

.form .form-field:focus-within > .contact-input {
  border: 1px solid #2196f3;
}

.contact-button {
  border: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  padding: 0 29px;
  width: 200px;
  height: 50px;
  background-color: #2196f3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
}

.contact-button .button-text {
  margin-right: 10px;
  text-align: center;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: #ffffff;
}

.contact-button .icon-send {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 24px;
  height: 24px;
  fill: #ffffff;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  padding-top: 40px;
  width: 528px;
  height: 581px;
  cursor: pointer;
  background-color: #ffffff;
}

.data {
  position: absolute;
  top: 42%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 448px;
  height: 342px;
  cursor: pointer;
}

.form-title {
  margin: 0;
  margin-bottom: 12px;
  font-weight: bold;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.data-form {
  padding: 0;
  margin: 0;
  list-style: none;
}

.data-list {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.modal-label {
  margin-bottom: 4px;
  cursor: pointer;
}

.modal-input {
  margin-bottom: 10px;
  padding-left: 42px;
  width: 448px;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.data-list:hover .modal-input {
  border: 1px solid #2196f3;
  background-color: #ffffff;
}

.data-list:focus-within > .modal-input {
  border: 1px solid #2196f3;
  background-color: #ffffff;
}

.icon-data {
  position: absolute;
  top: 33px;
  left: 15px;
  fill: #212121;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.data-list:hover .icon-data {
  fill: #2196f3;
}

.data-list:focus-within > .icon-data {
  fill: #2196f3;
}

.comment {
  width: 448px;
  height: 120px;
  resize: none;
  padding: 12px 16px;
  margin-bottom: 20px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.comment::-webkit-input-placeholder {
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.comment:-ms-input-placeholder {
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.comment::-ms-input-placeholder {
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.comment::placeholder {
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.data-list:hover .comment {
  border: 1px solid #2196f3;
  background-color: #ffffff;
}

.data-list:focus-within > .comment {
  border: 1px solid #2196f3;
  background-color: #ffffff;
}

.checkbox {
  position: absolute;
  left: 52px;
  bottom: 110px;
  cursor: pointer;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox-input {
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
  position: absolute;
}

.check-box {
  position: absolute;
  top: 3px;
  left: 7px;
  width: 16px;
  height: 15px;
  margin-left: -8px;
  border: 2px solid #212121;
  border-radius: 4px;
  background-color: #ffffff;
}

.checkbox-input:checked + .check-box {
  border-color: #2196f3;
  background-color: #2196f3;
  background-image: url(../../img/icon-check.svg);
  background-size: contain;
  background-origin: border-box;
}

.checkbox-input:focus-within + .check-box {
  border-color: #2196f3;
}

.contract-term {
  display: inline-block;
  padding-left: 23px;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  cursor: pointer;
}

.contract-link {
  padding-left: 0;
  text-decoration: none;
  color: #2196f3;
  outline: none;
}

/*ссылки в index.html*/
.address {
  margin-left: auto;
}

.address .adress-color {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 30px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.4;
  text-decoration: none;
  color: #757575;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address .adress-color:last-child {
  margin-right: 0px;
}

.address .adress-color:hover, .address .adress-color:focus {
  color: #2196f3;
  fill: #2196f3;
}

.nav-contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav-contact .icon-contacts {
  margin-right: 10px;
  fill: currentColor;
}

/*/ссылки в index.html*/
/*ссылки кнопки в portfolio.html*/
.links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0px;
  padding: 0px;
}

.links .links-button {
  margin-bottom: 50px;
  margin-right: 8px;
}

.links .links-button:last-child {
  margin-right: 0px;
}

.links .links-button .links-description {
  display: inline-block;
  border-radius: 2px;
  text-decoration: none;
  padding: 6px 22px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  color: #212121;
  background-color: #f5f4fa;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.links .links-button .links-description:hover, .links .links-button .links-description:focus {
  color: #ffffff;
  background-color: #2196f3;
}

/*/ссылки кнопки в portfolio.html*/
.subtitle-text {
  margin: 0px;
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.address-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px;
  padding: 0px;
  cursor: pointer;
}

.inline-item {
  position: relative;
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Webstudio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px;
  margin-right: 93px;
  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--accent-text-studio-color);
}

.Webstudio .web {
  color: #2196f3;
}

.logo {
  margin-bottom: 20px;
}

.logo .studio-white {
  color: #ffffff;
}

/*team icons*/
.team-links {
  width: 270px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 0px 30px;
}

.icons-bar {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  list-style: none;
}

.icons-bar:last-child {
  margin-right: 0px;
}

.icon-links {
  width: 44px;
  height: 44px;
  margin-right: 10px;
  padding: 12px;
  border-radius: 50%;
  color: #afb1b8;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-links:hover, .icon-links:focus {
  background-color: #2196f3;
  color: #ffffff;
}

.social-icons {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  fill: currentColor;
}

.icon-color {
  width: 44px;
  height: 44px;
  margin-right: 10px;
  padding: 12px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-color:last-child {
  margin-right: 0px;
}

.icon-color:hover, .icon-color:focus {
  background-color: #2196f3;
}

/*/team icons*/
/*footer icons*/
.icon-fill {
  fill: #ffffff;
}

/*/footer icons*/
.list,
.links {
  list-style: none;
}

.list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px;
}

.list .list-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  text-decoration: none;
  color: #212121;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.list .list-links:hover, .list .list-links:focus {
  color: #2196f3;
}

.list .item:not(:last-child) {
  margin-right: 50px;
}

.list .current {
  fill: #2196f3;
  color: #2196f3;
}

.line {
  position: relative;
}

.line::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #2196f3;
}

.border-line {
  border: 1px solid #ececec;
}

.hero {
  text-align: center;
  background-color: #2f303a;
}

.overlay {
  margin-left: auto;
  margin-right: auto;
  background-image: url("../../img/hero-img.jpg");
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../../img/hero-img.jpg");
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../../img/hero-img.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero-container {
  padding-top: 200px;
  padding-bottom: 200px;
}

.hero-container .hero-text {
  margin: 0px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  width: 640px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  color: #ffffff;
}

.list-description {
  width: 270px;
}

.icon {
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
  padding: 25px 100px;
  border-radius: 4px;
  background-color: #f5f4fa;
}

.subtitle {
  margin: 0px;
  margin-bottom: 10px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: #212121;
}

.first-description {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 3.5px;
  padding-bottom: 3.5px;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

.first-description:last-child {
  margin-right: 0px;
}

.title-bar {
  padding-bottom: 94px;
}

.titles {
  margin: 0px;
  margin-bottom: 50px;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  color: #212121;
}

.list-images {
  position: relative;
  width: 370px;
  height: 294px;
}

.list-images .text-picture {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 370px;
  height: 70px;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  background-color: rgba(47, 48, 58, 0.8);
}

.team {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: #f5f4fa;
}

.team .team-bottom {
  margin-bottom: 0px;
}

.team-photo {
  width: 270px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.text {
  margin: 0px;
  margin-bottom: 10px;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  color: #212121;
}

.description {
  margin: 0px;
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
}

.team-profile {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #ffffff;
}

.clients-container {
  padding-top: 94px;
  padding-bottom: 94px;
}

.clients {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 0px;
  margin: 0px;
}

.clients-logo {
  list-style: none;
  width: 170px;
  height: 90px;
}

.regular-clients {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  background-color: #ffffff;
  color: #afb1b8;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.regular-clients:hover, .regular-clients:focus {
  background-color: #ffffff;
  border: 1px solid #2196f3;
  color: #2196f3;
}

.regular-clients .icon-logo {
  fill: currentColor;
}

.contacts {
  background-color: #2f303a;
}

.padding-contacts {
  padding-top: 60px;
  padding-bottom: 60px;
}

.padding-contacts .box-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.adress .location {
  margin: 0px;
  margin-bottom: 9px;
  margin-right: 70px;
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.adress .address-color {
  display: block;
  margin-bottom: 9px;
  text-decoration: none;
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.adress .address-color:last-child {
  margin-bottom: 0px;
}

/* Описание картинок */
.section-bar {
  padding-top: 94px;
  padding-bottom: 94px;
}

.image-description {
  list-style: none;
  padding: 0px;
  margin: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.border {
  padding: 0px;
  margin: 0px;
  margin-bottom: 30px;
  width: 370px;
  background-color: #ffffff;
  border: 1px solid #eeeeee;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.border:nth-last-child(-n + 3) {
  margin-bottom: 0px;
}

.border:hover, .border:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-links {
  display: block;
  text-decoration: none;
}

.title-bar {
  margin: 0px;
  padding-bottom: 0px;
  margin-bottom: 4px;
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  color: #212121;
}

.description-bar {
  margin: 0px;
  margin-bottom: 4px;
  font-size: 16px;
  line-height: 1.9;
  color: #757575;
}

.site-bar {
  padding: 20px 24px;
  background-color: #ffffff;
}

/* /Описание картинок */
/* Выезжающий блок */
.thumb {
  position: relative;
  overflow: hidden;
}

.product-overlay {
  position: absolute;
  left: 0;
  bottom: -100%;
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: rgba(33, 150, 243, 0.9);
}

.border:hover .product-overlay {
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}

.thumb-text {
  position: absolute;
  margin: 0px;
  width: 322px;
  font-size: 18px;
  line-height: 1.555;
  letter-spacing: 0.03em;
  color: #ffffff;
}
/*# sourceMappingURL=main.css.map */